<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm"> <!--#loginForm - This Points to the instance of ng Form-->

      <mat-form-field>

        <!-- State : ng-touched/untouched
        ng-dirty/ng-pristine 
      ng-valid/invalid-->

        <input matInput type="email" name="email" 
        ngModel #email="ngModel"
        required 
        email 
        minlength="3" 
        maxlength="20"
        pattern="[a-z]+"
        placeholder="Email">
        <!--ngModel-Directive = Binds to key up event
        required/ minlength/ pattern/ email/ maxlength - Form Validation-->
        <mat-error *ngIf="email.errors?.required">
          Email Mandatory
        </mat-error>
        <mat-error *ngIf="email.errors?.minlength">
          Please type 3 chars
        </mat-error>
        <mat-error *ngIf="email.errors?.email">
          Not a valid mail
        </mat-error>
      </mat-form-field>

      <mat-form-field>

        <input matInput type="password" name="password" 
        ngModel #password="ngModel" required
        placeholder="Password">

      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login(loginForm)">
        Login
      </button>

    </form>

    <div class="form-val">
      <!-- {{loginForm.value | json}} directive -->
      <!-- {{email.value + ' ' + password.value}} -->
      {{email.errors | json}}

    </div>

  </mat-card-content>
</mat-card>